/* All styles for your Card Components live here */

.CardContainer {
  width: 550px;
  text-decoration: none;
  border: 1px solid lightgray;
  border-radius: 1%;
  align-content: right;
}

.cardBanner img {
  width: 550px;
  border-radius: 1%;
}

.card-content {
  width: 550px;
  text-decoration: none;
  padding-left: 10px;
  text-align: left;
  line-height: 20px;
}

.card-content h4 {
  font-size: 20px;
  line-height: 0px;
}

.card-content p {
  font-size: 16px;
}

